{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}

<div class="row">

<div class="table-responsive">
        <div class="col-lg-6 col-md-12 col-xs-12">
            <div class="title"><h4>Расходы на этот месяц по категориям</h4></div>
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th>Категория</th>
                        <th>Сумма за месяц</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for i in d.keys() %}
                    <tr>
                        <td>{{ i }}</td>
                        <td>{{ d.get(i) }}</td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
</div>

{% endblock %}