{%block finance%}
<div class="row">
    <div class="table-responsive">
        <div class="col-md-12 col-xs-12">
            <div class="title"><h4>Движение средств за {{month}}/{{year}}</h4></div>
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th>Дата</th>
                        <th>Сумма</th>
                        <th>Цель</th>
                        {% if statistics %}
                        <th>Тип операции</th>
                        {% endif %}
                        <th>Пользователь</th>
                        <th>Удалить</th>
                    </tr>
                    </thead>

                    <tbody>
                    {% for i in items_page %}
                    {%if i.floatto=='minus'%}
                    <tr style="background-color: #ffefeb;">
                        {% elif i.floatto=='plus' %}
                    <tr style="background-color: #ebfde7;">
                        {% else %}
                    <tr>
                        {%endif%}
                        <td>{{i.date.strftime('%d.%m.%y')}}</td>
                        <td>{{i.summ}}</td>
                        <td>{{i.describe}}</td>
                        {% if statistics %}
                        {%if i.floatto=='minus'%}
                        <td>Расход</td>
                        {%elif i.floatto=='plus'%}
                        <td>Доход</td>
                        {%endif%}
                        {% endif %}
                        <td>
                            <a href="{{ url_for('main.user', username=i.author.username) }}">{{i.author.username}}</a>
                        </td>
                        <td><a type="button" class="btn btn-danger btn-sm" href="{{ url_for('main.delete_record', id=i.id) }}"><i class="fas fa-trash-alt"></i></a></td>

                        {% endfor %}

                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<nav aria-label="Page navigation">
    <ul class="pagination justify-content-end">
        {% if prev_url %}
        <li class="page-item">
            <a class="page-link" href="{{ prev_url }}">Предыдущая</a>
        </li>
        {% else %}
        <li class="page-item disabled">
            <a class="page-link" href="#" tabindex="-1">Предыдущая</a>
        </li>
        {% endif %}
        {% if next_url %}
        <li class="page-item">
            <a class="page-link" href="{{ next_url }}">Следующая</a>
        </li>
        {% endif %}
    </ul>
</nav>

<br>
<div class="row">
    <div class="col-lg-3 col-md-6 col-xs-6">
        <div class="card">
            <div class="card-header">
                Доход за месяц
            </div>
            <div class="card-body">
                {{ finance_summ_income|safe}}
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6 col-xs-6">
        <div class="card">
            <div class="card-header">
                Расход за месяц
            </div>
            <div class="card-body">
                {{ finance_summ_outcome|safe}}
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6 col-xs-6">
        <div class="card">
            <div class="card-header">
                Остаток
            </div>
            <div class="card-body">
                {{ finance_summ_rest}}
            </div>
        </div>
    </div>
</div>

{% endblock %}