{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}

{% if form %}
<form class="form form-horizontal" method="post" role="form">
    <div class="row">
        {{ form.hidden_tag() }}
        {{ wtf.form_errors(form, hiddens="only") }}
        <div class="col-lg-6 col-md-6">
            {{ wtf.form_field(form.summ, form_type="horizontal")}}
            {{ wtf.form_field(form.description, form_type="horizontal")}}
        </div>
        <div class="col-lg-6 col-md-6">
            {{ wtf.form_field(form.date, form_type="horizontal")}}
            {{ wtf.form_field(form.floatto, form_type="horizontal")}}
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6 col-md-6">
            {{ wtf.form_field(form.submit, button_map={'submit': 'success'})}}
        </div>
    </div>
</form>

<br>
{% include 'finance.html' %}
<br>
{% endif %}

<nav aria-label="Навигация">
    <ul class="pagination justify-content-end">
        <li class="page-item">
            <a class="page-link" href="/{{year}}/{{previous}}">Предыдущий месяц</a>
        </li>
        <li class="page-item disabled">
            <a class="page-link" href="/{{year}}/{{next}}">Следующий месяц</a>
        </li>
    </ul>
</nav>

{% endblock %}
