{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}

<div class="content">
    <div class="row">
        <br>
    </div>
    {% include 'finance.html' %}
    <br>

    <nav aria-label="Навигация">
        <ul class="pagination justify-content-end">
            <li class="page-item"><a class="page-link" href="/{{year}}/{{previous}}">Предыдущий месяц</a></li>
            <li class="page-item"><a class="page-link" href="/{{year}}/{{next}}">Следующий месяц</a></li>
        </ul>
    </nav>

    <br>
</div>
{% endblock %}